header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 125px;
  display: grid;
  place-items: center;
  box-shadow: 2px 7px 43px -16px rgba(0, 0, 0, 0.52);

  h1 {
    text-align: center;
    font-size: 3.8rem;
  }


}
