main {
  margin-top: 220px;
  width: 100%;
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:   7fr 1fr;
  grid-template-areas: "input"
                        "cartesian";
  z-index: 1;


  .main__instructions {
    height: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
}